MLModel1_ConsoleApp1/MLModel1.mlnet filter=lfs diff=lfs merge=lfs -text
MLModel1_ConsoleApp1/MLModel1.onnx filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.mlnet filter=lfs diff=lfs merge=lfs -text
